section{
    display: none;
}
legend{
  border: 1px solid black;
  background-color: black;
}
fieldset {
  background-image: url('./src/medias/fond.jpg');
  background-size: cover;
  background-position-y: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: yellow;
  text-shadow: 1px 1px black;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.hidden{
  opacity: 0;
  pointer-events: none;
}
fieldset *{
  margin: 5px 0px;
}
label{
  margin-right: 15px;
}
input{
  margin-bottom: 15px;
}

